<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Server</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>Listening at <span class="address"></span>.</p>
    <p>Send a POST request to <span class="address"></span>requests in order for your message to appear here.</p>
    <dl>
        <dt style="font-weight: bold;">Required Values</dt>
        <dd>content : the content of the message, which will be displayed.</dd>
        <dt style="font-weight: bold;">Optional Values</dt>
        <dd>author : the author of the message.</dd>
        <dd>time : when the message was sent.</dd>
        <dt style="font-weight: bold;">Headers</dt>
        <dd>mimetype : 'application/json'</dd>
        <dd>content_type : 'json'</dd>
    </dl>

    <h3>Messages</h3>
    <button id="clear">Clear messages</button>
    <dl id="messages"></dl>

    <script type=text/javascript src="{{
        url_for('static', filename='jquery.min.js') }}"></script>
    <script type=text/javascript src="{{
        url_for('static', filename='ajax.js') }}"></script>
    <script type=text/javascript src="{{
        url_for('static', filename='index.js') }}"></script>
    <!-- <script src="../ajax.js"></script> -->
</body>
</html>