<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Server</title>
</head>
<body>
    <h1>Welcome</h1>
    <p id="address"></p>

    <h3>Messages</h3>
    <button id="clear">Clear messages</button>
    <dl id="messages"></dl>

    <script type=text/javascript src="{{
        url_for('static', filename='jquery.min.js') }}"></script>
    <script type=text/javascript src="{{
        url_for('static', filename='ajax.js') }}"></script>
    <script type=text/javascript src="{{
        url_for('static', filename='index.js') }}"></script>
    <!-- <script src="../ajax.js"></script> -->
</body>
</html>